.doctor-form-container {
  max-width: 700px;
  margin: 70px 500px;
  padding: 50px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif; 
  
}

h1 {
  text-align: center;
  color: #333;
}

.doctor-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px; /* Added for spacing */
}

input,
select {
  width: 100%;
  padding: 10px; 
  /* margin-top: 5px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

input[type='file'] {
  border: none;
  font-family: "Open Sans", sans-serif;

}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.doctor-form button {
  background: linear-gradient(to right, #13cec8, #08446b);
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctor-form button:hover {
  background: linear-gradient(to right, #08446b, #13cec8);
  transform: scale(1.03); /* Smoother hover effect */
}
