.messages-container {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 29px;
    margin-bottom: 60px;
  }
 
  .messages-list {
    margin-top: 20px;
  }
  
  .message-card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .message-card h3 {
    margin: 0;
    color: #1f78b4;
  }
  
  .message-card p {
    margin: 5px 0;
  }
  