.auth-background {
  background-image: url('../public/images/515769-PIXOMV-953-Photoroom.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
